<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/management/mgt.css">
        <script src="https://kit.fontawesome.com/7207db7d65.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>

    <body>
        <section class="mgt-form">
            <form action="">
                <h1>시나리오 관리</h1>
                <div class="search-box">
                    <label for="search">시나리오 검색</label>
                    <button type="button" id="control-id-btn" class="control-id-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input type="text" id="search" name="search" class="search">
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th>&nbsp;</th>
                            <th>번호</th>
                            <th>시나리오</th>
                            <th>설명</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="btn" id="btn"></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="btn" id="btn"></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="btn-area">
                    <button class="register-btn">신규작성</button>
                    <button class="modify-btn">편집</button>
                    <button class="delete-btn">삭제</button>
                </div>
            </form>
        </section>
    </body>

</html>