<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/management/mgt.css">
        <title>Document</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="">
                    <i class="fa-solid fa-j"></i>
                    <i class="fa-solid fa-y"></i>
                    <i class="fa-solid fa-s"></i>
                </a>
            </div>
            <ul class="navbar__menu">
                <li>
                    <a href=""></a>home
                </li>
                <li>
                    <a href=""></a>login
                </li>
                <li>
                    <a href=""></a>register
                </li>
                <li>
                    <a href=""></a>management
                </li>
                <li>
                    <a href=""></a>preference
                </li>
            </ul>
            <ul class="navbar__icons">
                <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
            </ul>
            <a href="#" class="navbar__toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
        <section class="mgt-form">
            <form action="">
                <h1>사용자 관리</h1>
                <div class="search-box">
                    <label for="search">사용자 검색</label>
                    <button type="button" id="control-id-btn" class="control-id-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input type="text" id="search" name="search" class="search">
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th>&nbsp;</th>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="btn" id="btn"></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="btn" id="btn"></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="btn-area">
                    <button class="register-btn">등록</button>
                    <button class="modify-btn">수정</button>
                    <button class="delete-btn">삭제</button>
                </div>
            </form>
        </section>
    </body>
    <script src="https://kit.fontawesome.com/7207db7d65.js" crossorigin="anonymous"></script>
    <script src="/js/home/menu.js"></script>
</html>