<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="">
                    <i class="fa-solid fa-j"></i>
                    <i class="fa-solid fa-y"></i>
                    <i class="fa-solid fa-s"></i>
                </a>
            </div>
            <ul class="navbar__menu">
                <li>
                    <a href=""></a>home</li>
                <li>
                    <a href=""></a>login</li>
                <li>
                    <a href=""></a>register</li>
                <li>
                    <a href=""></a>management</li>
                <li>
                    <a href=""></a>preference</li>
            </ul>
            
            <a href="#" class="navbar__toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
        <section class="login-form">
            <h1>드론 전술 훈련</h1>
            <form action="">
                <div class="int-area">
                    <input type="text" id="id" name="id" autocomplete="off" required="required">
                    <label for="id">USER ID</label>
                </div>
                <div class="int-area">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        autocomplete="off"
                        required="required">
                    <label for="password">USER PASSWORD</label>
                </div><br>
                <div>
                    <input type="checkbox" name="connectMode" id="connectMode">
                    <label for="connectMode" style="color: #fff;">&nbsp;연동모드</label>
                </div>
                <div class="btn-area">
                    <button id="button" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="caption">
                <a href="/register">계정이 없으신가요?&nbsp;&nbsp;->&nbsp;Click to Here</a>
                <br><br>
            </div>
        </section>
    </body>
    <script src="https://kit.fontawesome.com/7207db7d65.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/home/login.js" defer="defer"></script>
    <script src="/js/home/menu.js"></script>
</html>