<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/css/home/register.css">
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="">
                    <i class="fa-solid fa-j"></i>
                    <i class="fa-solid fa-y"></i>
                    <i class="fa-solid fa-s"></i>
                </a>
            </div>
            <ul class="navbar__menu">
                <li>
                    <a href=""></a>home</li>
                <li>
                    <a href=""></a>login</li>
                <li>
                    <a href=""></a>register</li>
                <li>
                    <a href=""></a>management</li>
                <li>
                    <a href=""></a>preference</li>
            </ul>
            <ul class="navbar__icons">
                <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
            </ul>
            <a href="#" class="navbar__toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
        <section class="register-form">
            <h1>드론 전술 훈련</h1>
            <form class="register-form">
                <div class="int-area">
                    <input type="text" id="id" name="id" autocomplete="off" required="required">
                    <label for="id">USER ID</label>
                </div>

                <div class="int-area">
                    <input type="text" id="name" name="name" autocomplete="off" required="required">
                    <label for="name">USER NAME</label>
                </div>

                <div class="int-area">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        autocomplete="off"
                        required="required">
                    <label for="password">USER PASSWORD</label>
                </div>

                <div class="int-area">
                    <input
                        type="password"
                        id="confirm-password"
                        name="confirm-password"
                        autocomplete="off"
                        required="required">
                    <label for="password">CHECK PASSWORD</label>
                </div><br>

                <div class="btn-area">
                    <button id="button" type="submit">SIGN UP</button>
                </div>

            </form>
            <div class="caption">
                <p class="message">이미 계정이 있으신가요?&nbsp;
                    <a href="/login">&nbsp;->&nbsp;Click to Here</a>
                </p>
            </div>
        </section>
    </body>
    <script src="https://kit.fontawesome.com/7207db7d65.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/home/register.js" defer="defer"></script>
    <script src="/js/home/menu.js"></script>
</html>