@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

:root {
    --text-color: rgb(199, 199, 199);
    --background-color: #1d1b1b;
    --accent-color: rgb(170, 5, 5);
}

/* 전체 CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right bottom, #000000, #536349, #000000, #536349);
    background-size: cover;
}

/* form 박스 */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.mgt-form {
    display: flex;
    z-index: 2;
}

.mgt-form h1 {
    display: flex;
    font-size: 25px;
    color: #fff;
    width: 160px;
    margin-bottom: 15px;
}

/* 사용자 검색 BOX */
.search-box {
    display: flex;
    width: 450px;
    height: 35px;
    float: right;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.search-box label {
    display: flex;
    font-size: 20px;
    width: 130px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

#control-id-btn {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#control-id-btn:hover {
    cursor: pointer;
    background: rgb(95, 95, 95);
}

#search {
    flex: 1 1 auto;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* 과정 표 */
.table {
    margin-top: 30px;
}

table {
    width: 900px;
    color: white;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid rgb(77, 77, 77);
    text-align: center;
    border-left: none;
    border-right: none;
    height: 30px;
}

th {
    background-color: rgb(128, 128, 128);
}

/* 버튼 */
.btn-area {
    position: relative;
    float: right;
    margin-top: 50px;
}

.btn-area button {
    width: 120px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: #999;
    color: #fff;
    font-weight: bold;
}

.btn-area button:hover {
    cursor: pointer;
    background: rgb(95, 95, 95);
}

/* navbar & hamburger bar */
a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 8px 12px;
    top: 0;
    color: var(--text-color);
    z-index: 2;
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color)
}

.navbar__logo i {
    color: var(--accent-color);
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    cursor: pointer;
    background-color: rgb(150, 110, 110);
    border-radius: 100%;
}

.navbar__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
}

.navbar__icons {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}